.dart_tool/
build/
.packages
.pub/
.pub-preload-cache/
.dart_tool/
*.iml
.idea/
.vscode/
*.lock
*.log
.metadata
.gradle/
local.properties
android/local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
Flutter/
app.*.map
*.jks
*.keystore
*.p8
*.p12
*.pfx
*.cer
*.mobileprovision
*.provisionprofile
.ios/
Generated.xcconfig
flutter_export_environment.sh
